﻿@using WebApp.Classes

@model List<WebApp.Classes.Article>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
            }
            else {
        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                @Html.Raw("<div class=\"item active\">")
            }
            else
            {
                @Html.Raw("<div class=\"item\">")
            }
            <img src="@Model[i].ImageLink" alt="@Model[i].Title" class="img-responsive" />
            <div class="carousel-caption half-black" role="option">
                <h3>@Model[i].Title</h3>
                <p>@Model[i].Snippet</p>
            </div>
        @Html.Raw("</div>")
        }
            </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
