﻿    <option value="Adventure">Przygoda</option>
    <option value="Animation">Animacja</option>
    <option value="Children">Dziecięcy</option>
    <option value="Comedy">Komedia</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Romance">Romans</option>
    <option value="Drama">Dramat</option>
    <option value="Action">Akcja</option>
    <option value="Crime">Kryminał</option>
    <option value="Drama">Dreszczowiec</option>
    <option value="Horror">Horror</option>
    <option value="Mystery">Tajemniczy</option>
    <option value="Sci-Fi">Fantastyczno-Naukowy</option>
    <option value="Documentary">Dokument</option>
    <option value="IMAX">IMAX</option>
    <option value="War">Wojenny</option>
    <option value="Western">Western</option>
    <option value="Film-Noir">Detektywistyczny</option>