﻿@using WebApp.Classes

@model List<WebApp.Classes.Movie>

<div class="indexPageMovies row row-eq-height">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            if (i % 6 == 0 && i != 0)
            {
                @Html.Raw("</div><div class=\"indexPageMovies row row-eq-height\">")
            }
            <div class="col-sm-2 zoom small nopadding" style="background: url('@Model[i].Link'); background-size:100% 100%;">
                <div class="half-black bottom-text">
                    <a href="@Model[i].IMDBLink">
                        <h4>@Model[i].Title</h4>
                    </a>
                    <label>Gatunki: @Model[i].Genres.ToString()</label><br />
                    <label>Średnia ocena: @Model[i].MeanOfRatings.ToString()</label><br />
                    <label>Liczba ocen: @Model[i].NoOfRatings.ToString()</label>
                </div>
            </div>
        }
    }
</div>
