﻿@{
    ViewData["Title"] = "Oceniaj filmy";
}

<div class="center-block">
    <div class="row row-eq-height">
        <div class="col-md-4" style="padding:20% 0 0 0; background: url('@Url.Content("~/images/movie-tv.jpg")');">
            <form asp-controller="Rating" asp-action="RateMovies" method="get" class="half-black fullwidth content-spacing">
                <h2>Oceń N losowych filmów: </h2>
                <input class="rating-select" type="number" name="nMovies" value="10" />
                <button type="submit" class="btn btn-default">Rozpocznij</button>
            </form>
        </div>
        <div class="col-md-4" style="padding:20% 0 0 0; background: url('@Url.Content("~/images/old-tv.jpg")');">
            <form asp-controller="Rating" asp-action="RateMovies" method="get" class="half-black fullwidth content-spacing">
                <h2>Oceń losowe filmy zależnie od gatunku: </h2>
                <select name="genreMovies">
                    @await Html.PartialAsync("_GenresPartial")
                </select>
                <h2>Podaj ilość filmów do oceny: </h2>
                <input class="rating-select" type="number" name="nMovies" value="10" />
                <input type="hidden" name="searchType" value="Random" />
                <button type="submit" class="btn btn-default">Rozpocznij</button>
            </form>
        </div>
        <div class="col-md-4" style="padding:20% 0 0 0; background: url('@Url.Content("~/images/audience_tv.jpg")');">
            <form asp-controller="Rating" asp-action="RateMovies" method="get" class="half-black fullwidth content-spacing">
                <h2>Oceń popularne filmy zależnie od gatunku: </h2>
                <select name="genreMovies">
                    @await Html.PartialAsync("_GenresPartial")
                </select>
                <h2>Podaj ilość filmów do oceny: </h2>
                <input class="rating-select" type="number" name="nMovies" value="10" />
                <input type="hidden" name="searchType" value="Popular" />
                <button type="submit" class="btn btn-default">Rozpocznij</button>
            </form>
        </div>
    </div>
</div>
