﻿ @model WebApp.Classes.RatingList
@{
    ViewData["Title"] = "Oceń Filmy";
}

<div class="center-block">

    <form asp-controller="Rating" asp-action="RateMovies" method="post">
        <div class="row table row-eq-height">
            @{
                List<WebApp.Classes.Movie> lMovies = (List<WebApp.Classes.Movie>)ViewData["MovieList"];
                string rowBreakHtml = "</div><div class=\"indexPageMovies row row-eq-height\">";
                for (int i = 0; i < lMovies.Count; i++)
                {
                    if (i % 4 == 0)
                    {
                        @Html.Raw(rowBreakHtml)
                    }
            <div class="col-sm-3 zoom small nopadding" style=" background: url('@lMovies[i].Link'); background-size:100% 100%;">
                <div class="half-black bottom-text">
                    <h3><a href="@lMovies[i].IMDBLink">@lMovies[i].Title</a></h3><br />
                    <label>Liczba ocen: @lMovies[i].Genres.ToString()</label><br />
                    <label>Średnia ocena: @lMovies[i].MeanOfRatings</label><br />
                    <label>Liczba ocen: @lMovies[i].NoOfRatings</label><br />

                    <input type="hidden" name="Ratings[@i].movieId" value="@lMovies[i].ID" />
                    <input type="hidden" name="Ratings[@i].userId" value="@ViewData["UserId"]" />
                    <select asp-for="Ratings[i].rating"
                            asp-items="@(new SelectList(Model.ratingList,"Value","Display"))">
                        <option value="0.0">Wybierz ocenę(lub omiń)</option>
                    </select>
                    <input type="hidden" name="Ratings[@i].timestamp" value="0" />
                    </div>
                </div>
                }
                }
            </div>
        <br /><button type="submit" class="btn btn-default">Prześlij</button>

    </form>

</div>