﻿
#bodyBackground {
    padding-top: 50px;
    color: white;
    background: url('/images/Backgrounds/popcorn-898154.png') no-repeat;
    background-size: 60%;
    background-position: bottom center;
}

#bodyCover {
    padding-bottom: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,232323+20,303030+50,232323+80,000000+100 */
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 0%, rgba(35,35,35,0.85) 20%, rgba(48,48,48,0.85) 50%, rgba(35,35,35,0.85) 80%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(35,35,35,0.85) 20%,rgba(48,48,48,0.85) 50%,rgba(35,35,35,0.85) 80%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(35,35,35,0.85) 20%,rgba(48,48,48,0.85) 50%,rgba(35,35,35,0.85) 80%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

.container {
    padding: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#myCarousel div div img {
    width: 100%;
    height: 500px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

footer {
    padding-top: 3%;
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.half-black {
    background: rgba(0, 0, 0, 0.5);
}
.bottom-text{
    margin-top:70%;
}
.content-spacing {
    padding: 3% 5%;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-table {
    display: table;
}

.fullwidth {
    width: 100%;
}

.zoom img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 200px;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Navigation Bar */
.navbar {
    background-color: rgba(0,0,0,0.9);
}

    .navbar a {
        color: white !important;
    }

    .navbar ul li a {
        color: white !important;
    }
    .navbar ul li form{
        padding-top:15px;
    }

    .navbar ul li:hover {
        background-color: white;
    }

        .navbar ul li:hover a {
            color: black !important;
        }



.rateMovies div {
    border: 1px solid black;
}

option,
select,
input[type=text]
input[type=number] {
    color: black;
}

.rating-select {
    color: black;
}

.moviePoster {
    margin-top: 2%;
    position: relative;
    height: 100%;
    display: table;
}

.row .moviePoster {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.moviePoster select {
    position: absolute;
    bottom: 0;
}

