﻿
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-left"> Wynik wyszukiwania dla zapytania: "@ViewData["UserQuery"]" </h2>
<div class="indexPageMovies row">
    @await Html.PartialAsync("_MoviesPartial", (List<WebApp.Classes.Movie>)ViewData["SearchOutputMovieList"]);
</div>

