﻿@{
    ViewData["Title"] = "Strona Główna";
}

@await Html.PartialAsync("_ArticleSliderPartial", (List<WebApp.Classes.Article>)ViewData["ArticleList"])

<h2 class="text-left"> Wynik predykcji filmów dla uzytkownika @ViewData["UserLogin"]: </h2>
    @await Html.PartialAsync("_MoviesPartial", (List<WebApp.Classes.Movie>)ViewData["PredictedMovieList"])

<h2 class="text-left"> Najpopularniejsze filmy w naszej bazie: </h2>
    @await Html.PartialAsync("_MoviesPartial", (List<WebApp.Classes.Movie>)ViewData["PopularMovieList"])

<h2 class="text-left"> Najwyzej oceniane filmy w naszej bazie: </h2>
    @await Html.PartialAsync("_MoviesPartial", (List<WebApp.Classes.Movie>)ViewData["BestMovieList"])