﻿@{
    ViewData["Title"] = "Zablokowany";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Twoje konto zostało zablokowane spróbuj ponownie później.</p>
</header>
